#progress-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    
}
.progress-order {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 70%;
    padding: 36px 24px;
    margin-bottom: 26px;
    border-radius: 10px;
    background-color: #B3EBFF;
}

.pro-group {
    display: flex;
    align-items: center;
    gap: 36px;
}
.pro-pic {
    width: 72px;
}
.pro-info-name {
    font-size: 20px;
}
.pro-info-id {
    font-size: 16px;
}
.pro-status {
    align-self: center;
    font-size: 24px;
    font-weight: 600;
}
#order-1 {
    color: #FF0000;
}
#order-2{
    color: #04F03F;
}