h1 {
    font-size: var(--fs-1);
    font-weight: 800;
    color: var(--color-blue-1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 63px;
}
#login-user{
    align-items: flex-end;
    justify-content: center;
    display: flex;
    margin: 0px 64px 256px 64px;
}
#left-panel {
    width: 23.65625em;
    height: 22.03125em;
    padding: 0 2em;
    border-radius: 15px 0px 0px 15px;
    background-color: #99CAFF;
    color: white;
    align-content: center;
    text-align: center;
}
#left-panel > #txt-1 {
    font-size: var(--fs-2);
    font-weight: 600;
    margin-bottom: 34px;
}
#left-panel > #txt-2 {
    font-size: var(--fs-4);
    font-weight: 400;
    margin-bottom: 21px;
}
#left-panel > #regis-btn {
    border: 2px white solid;
    border-radius: 15px;
    width: 7em;
    height: 1.90625em;
    padding: 0.5em;
    background-color: transparent;
    color: white;
    font-size: var(--fs-5);
    font-family: "Prompt", serif;
    font-weight: 600;
    align-content: center;
    justify-self: center;
    display: block;
}
#tab {
    display: flex;
    gap: 7px;
    
}
#tab > #tab-user {
    background-color: var(--color-blue-2);
    padding: 0.5em;
}
#tab > #tab-shop {
    background-color: var(--color-green-1);
    padding: 0.5em;
}
#tab-shop , #tab-user, #tab a {
    width: 100%;
    height: 1.5em;
    text-align: center;
    align-content: center;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-size: var(--fs-4);
    font-weight: 600;
    border: 0px;
}
#right-panel {
    display: flex;
    flex-direction: column;
    
}
#form {
    background-color: #CCE5FF;
    width: 18.6634em;
    height: 22.03125em;
    border-radius: 0px 0px 15px 0px;
    padding: 0 3em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}
.form-label {
    font-size: var(--fs-4);
    color: var(--color-blue-3);
}
.form-input {
    width: 100%;
    height: 2em;
    margin-bottom: 2.5em;
    border: var(--color-blue-3) 1px solid;
    border-radius: 10px;
}
#form > a {
    background-color: var(--color-blue-1);
    height: 1.71875em;
    padding: 0.5em;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 0px;
    border-radius: 10px;
    text-align: center;
}