.topnav-s {
    background-color: #99FFB2;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.topnav-s-left {
    display: flex;
}
.topnav-s-right {
    display: flex;
    gap: 51px;
}
.topnav-s a {
    display: flex;
    align-items: center;
    color: var(--color-black-1);
    text-decoration: none;
    padding: 14px 16px;
    font-size: 18px;
    font-weight: 500;
}
.topnav-s a:hover {
    background-color: #71bd84;
    border-radius: 5px;
}
.topnav-s-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.shop-profile {
    display: flex;
    gap: 50px;
    margin: 64px;
    justify-content: space-evenly;
}
#shop-infoform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 512px;
}
#shop-infoform div {
    width: inherit;
    margin-bottom: 10px;
}
#shop-infoform div > input {
    width: 85%;
    border: var(--color-green-2) 2px solid;
    border-radius: 10px;
    padding: 6px;
    padding-left: 12px;
}
#shop-infoform div > label {
    font-weight: 600;
}
#shop-infoform div > button {
    padding: 6px 12px;
    border: var(--color-green-2) 2px solid;
    border-radius: 10px;
}
.shop-profile > #exit > a {
    color: white;
    background-color: var(--color-red-1);
    border-radius: 10px;
    padding: 6px 12px;
}

#shop-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#save-s {
    align-self: flex-end;
    margin: 36px;
    margin-right: 10px;
    padding: 12px 36px;
    color: white;
    background-color: var(--color-green-1);
    font-size: var(--fs-5);
    font-weight: 600;
    border: 0px;
    border-radius: 10px;
    
}
