:root {
    --color-blue-1 : #007AFF;
    --color-blue-2 : #4EC4FF;
    --color-blue-3 : #003D7F;
    --color-green-1 : #00FF40;
    --color-green-2 : #007F20;
    --color-black-1 : #37414D;
    --color-red-1 : #FF4242;

    --fs-1 : 64px;
    --fs-2 : 32px;
    --fs-3 : 24px;
    --fs-4 : 16px;
    --fs-5 : 14px;

}
body, button, input, textarea, select {
    font-family: "Prompt", serif;
}
body {
    margin: 0;
}
a{
    text-decoration: none;
}